<footer class="text-bg-dark mb-0">
  <section class="grid-4-col">
    <div>
      <a href="#" class="myLink-a-item"
        ><h3>{{ storeName }}</h3></a
      >
    </div>
    <div>
      <h4>Get to know us</h4>
      <ul class="list--items">
        <li class=""><a href="#" class="myLink-a-item">About</a></li>
        <li class=""><a href="#" class="myLink-a-item">Home</a></li>
        <li class=""><a href="#" class="myLink-a-item">Our Labs</a></li>
        <li class=""><a href="#" class="myLink-a-item">Blog</a></li>
      </ul>
    </div>
    <div>
      <h4>Contact us</h4>
      <ul class="list--items">
        <li class=""><a href="#" class="myLink-a-item">Email us</a></li>
        <li class=""><a href="#" class="myLink-a-item">Telephone</a></li>
        <li class=""><a href="#" class="myLink-a-item">Our Locations</a></li>
      </ul>
    </div>
    <div>
      <h4>Map Location</h4>
    </div>
  </section>
  <p class="text-center">All rights are reserved &copy;{{ currentDate }}</p>
</footer>
