<!-- <nav class="navbar navbar-expand-lg navbar-light bg-success-subtle"> -->
<nav class="navbar navbar-expand-lg navbar-dark text-bg-dark">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#">Navbar w/ text</a> -->
    <a class="navbar-brand" routerLink="/">
      <img
        src="../../assets/Samaou ecommerce logo 2.png"
        alt="Samaou Ecommerce Logo"
        class="logo"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
      <!-- Search Input Large Screen -->
      <app-search-input
        class="mySearch-lg-md hide-mobile"
        [searchInputPlaceholder]="inputPlaceholder"
      ></app-search-input>

      <!-- <span class="navbar-text"> Navbar text with an inline element </span> -->
      <a class="nav-link justify-content-end" [routerLink]="['shoppingCart']">
        <div class="d-flex align-items-center" style="margin-left: -0.4rem">
          <div class="d-flex flex-column align-items-center">
            <p class="text-danger" style="margin: -0.4rem">
              {{ totalCardItems }}
            </p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-cart3 mx-1"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"
              />
            </svg>
          </div>
          <a class="nav-link">Cart</a>
        </div>
      </a>
      <a href="#" class="nav-link ms-lg-3">Login</a>
      <a class="nav-link ms-lg-3" (click)="openDialog()" style="cursor: pointer"
        >S'inscrire</a
      >
    </div>
  </div>
</nav>
<!-- Search Input for Small screens. -->
<app-search-input
  class="display-inputSearch-md-sm mt-4"
  [searchInputPlaceholder]="inputPlaceholder"
></app-search-input>
