.logo {
  width: 4rem;
  background-color: #f8f9fa;
}
/* ************************************** */
/* **** Mobile Screen 'Search Input' ****** */
/* ************************************** */
@media (min-width: 360px) {
  .display-inputSearch-md-sm {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  app-search-input {
    width: 100%;
  }
  .mySearch-lg-md {
    display: none;
  }
}
/******* Large Screens 'Search Input' ******* */
/*******************************/
@media (min-width: 992px) {
  .mySearch-lg-md {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .display-inputSearch-md-sm {
    display: none;
  }
}
