.logo {
  width: 4rem;
  background-color: #f8f9fa;
}

@media (min-width: 360px) {
  .display-inputSearch-md-sm {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  app-search-input {
    width: 100%;
  }
  .mySearch-lg-md {
    display: none;
  }
  /* .mySearch-lg-md {
    display: none;
    width: 70%;
    margin: 0 auto;
  } */
}
/******* Medium Screens ******* */
/*******************************/
/* @media (max-width: 991px) {
  app-search-input {
    display: none;
  }
  nav + app-search-input {
    display: block;
    width: 70%;
    margin: 0 auto;
  }
} */
/******* Large Screens ******* */
/*******************************/
@media (min-width: 992px) {
  .mySearch-lg-md {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .display-inputSearch-md-sm {
    display: none;
  }
}
