<section class="mt-3 p-3 best-selling-container mx-2">
  <h2 class="text-dark display-5">Les Vêtements les plus vendus</h2>
  <div class="container-fluid">
    <div class="row">
      <section class="card col-sm-12 col-md-3 g-3">
        <a href="#">
          <img
            class="cardImage"
            src="./../../assets/best-selling-clothes/women clothes underware.webp"
            alt="women clothes underware image"
          />
        </a>
      </section>
      <section class="card col-sm-12 col-md-3 g-3">
        <a href="#">
          <img
            class="cardImage"
            src="./../../assets/best-selling-clothes/women flower clothes.jpeg"
            alt="women flower clothes image"
          />
        </a>
      </section>
      <section class="card col-sm-12 col-md-3 g-3">
        <a href="#">
          <img
            class="cardImage"
            src="./../../assets/best-selling-clothes/men clothes.webp"
            alt="men clothes image"
          />
        </a>
      </section>
      <section class="card col-sm-12 col-md-3 g-3">
        <a href="#">
          <img
            class="cardImage"
            src="./../../assets/best-selling-clothes/men clothes 2.jpeg"
            alt="men clothes image"
          />
        </a>
      </section>
      <!-- <section class="card col-sm-12 col-md-3 g-3">
        <a href="#">
          <img
            class="cardImage"
            src="./../../assets/best-selling-clothes/men clothes shoe 3.jpeg"
            alt="men shoe image"
          />
        </a>
      </section> -->
      <!-- <section class="card col-sm-12 col-md-3  g-3">
        <a href="#">
          <img
            class="cardImage"
            src="./../../assets/best-selling-clothes/women clothes chemise.jpeg"
            alt="women clothes chemise image"
          />
        </a>
      </section> -->
    </div>
  </div>
</section>
<app-our-clients></app-our-clients>
