<section class="mt-5 mx-2">
  <section style="background-color: #fff">
    <h2 class="pt-3 ms-5">Vêtements les plus vendus</h2>
    <p-carousel
      [value]="products!"
      [numVisible]="4"
      [numScroll]="4"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template let-product pTemplate="item">
        <div class="card position-relative ms-1 p-0">
          <!-- <div class="mb-3"> -->
          <div class="">
            <div class="p-0">
              <img
                src="../../assets/best-selling-clothes/{{ product.image }}"
                [alt]="product.name"
                class="w-full border-round w-100"
              />
              <!-- <p-tag
              [value]="product.inventoryStatus"
              [severity]="getSeverity(product.inventoryStatus)"
              class="position-absolute"
              [ngStyle]="{ 'left.px': 5, 'top.px': 5 }"
            /> -->
            </div>
          </div>
          <a href="#" class="stretched-link"></a>
        </div>
      </ng-template>
    </p-carousel>
  </section>
</section>

<app-our-clients></app-our-clients>
