<section class="categories mt-5">
  <section class="grid-4-col">
    <section class="card">
      <p class="cardTitle">Delicious Food</p>
      <img class="cardImage" src="./../../assets/food.jpg" alt="food image" />
      <div class="">
        <p class="card-text mt-1">
          la fraîcheur de la viande et légumes croquants!
        </p>
        <div class="d-flex justify-content-between">
          <a href="#" class="d-block myLink-a">See more</a>
          <span class="card-text mt-1 fw-bold badge text-bg-danger"
            >35% Off!</span
          >
        </div>
      </div>
    </section>
    <section class="card">
      <p class="cardTitle">PC & Laptop</p>
      <img class="cardImage" src="./../../assets/PC.jpg" alt="computer image" />
      <div class="">
        <p class="card-text mt-1">Un ordinateur performant</p>
        <div class="d-flex justify-content-between">
          <a href="#" class="d-block myLink-a">See more</a>
          <span class="card-text mt-1 fw-bold badge text-bg-danger"
            >15% Off!</span
          >
        </div>
      </div>
    </section>
    <section class="card">
      <p class="cardTitle">Cuisine</p>
      <img
        class="cardImage"
        src="./../../assets/cuisine 2 edited.jpg"
        alt="cuisine image"
      />
      <div class="">
        <p class="card-text mt-1">
          Une cuisine moderne et fonctionnelle, équipée d'appareils pour
          faciliter la préparation des repas.
        </p>
        <div class="d-flex justify-content-between">
          <a href="#" class="d-block myLink-a">See more</a>
          <span class="card-text mt-1 fw-bold badge text-bg-danger"
            >20% Off!</span
          >
        </div>
      </div>
    </section>
    <section class="card">
      <p class="cardTitle">Health care & Beauty</p>
      <img
        class="cardImage"
        src="./../../assets/health-care.jpg"
        alt="Health care & Beauty image"
      />
      <div class="">
        <p class="card-text mt-1">
          un ensemble de services médicaux, préventifs et curatifs
        </p>
        <div class="d-flex justify-content-between">
          <a href="#" class="d-block myLink-a">See more</a>
          <span class="card-text mt-1 fw-bold badge text-bg-danger"
            >10% Off!</span
          >
        </div>
      </div>
    </section>
    <section class="card">
      <p class="cardTitle">Books</p>
      <img
        class="cardImage"
        src="./../../assets/Books edited.jpg"
        alt="Books image"
      />
      <div class="">
        <p class="card-text mt-1">
          Des livres qui sont des trésors de connaissances, d'évasion et
          d'inspiration
        </p>
        <div class="d-flex justify-content-between">
          <a href="#" class="d-block myLink-a">See more</a>
          <span class="card-text mt-1 fw-bold badge text-bg-danger"
            >35% Off!</span
          >
        </div>
      </div>
    </section>
    <section class="card">
      <p class="cardTitle">PC & Laptop</p>
      <img class="cardImage" src="./../../assets/PC.jpg" alt="computer image" />
      <div class="">
        <p class="card-text mt-1">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam,
          eius!
        </p>
        <div class="d-flex justify-content-between">
          <a href="#" class="d-block myLink-a">See more</a>
          <span class="card-text mt-1 fw-bold badge text-bg-danger"
            >15% Off!</span
          >
        </div>
      </div>
    </section>
    <section class="card">
      <p class="cardTitle">Cuisine</p>
      <img
        class="cardImage"
        src="./../../assets/cuisine.png"
        alt="cuisine image"
      />
      <div class="">
        <p class="card-text mt-1">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam,
          eius!
        </p>
        <div class="d-flex justify-content-between">
          <a href="#" class="d-block myLink-a">See more</a>
          <span class="card-text mt-1 fw-bold badge text-bg-danger"
            >20% Off!</span
          >
        </div>
      </div>
    </section>
    <section class="card">
      <p class="cardTitle">Health care & Beauty</p>
      <img
        class="cardImage"
        src="./../../assets/health-care.jpg"
        alt="Health care & Beauty image"
      />
      <div class="">
        <p class="card-text mt-1">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam,
          eius!
        </p>
        <div class="d-flex justify-content-between">
          <a href="#" class="d-block myLink-a">See more</a>
          <span class="card-text mt-1 fw-bold badge text-bg-danger"
            >10% Off!</span
          >
        </div>
      </div>
    </section>
  </section>
</section>
<section style="margin-bottom: 300px"></section>
