<section class="categories mt-5">
  <h2 class="ms-3 mt-3 p-2 bg-light text-dark fw-bold">Nos Catégories</h2>
  <section class="grid-4-col">
    <section class="card position-relative">
      <p class="cardTitle">Delicious Food</p>
      <img class="cardImage" src="./../../assets/food.jpg" alt="food image" />
      <div class="">
        <p class="card-text mt-1 mb-4">
          la fraîcheur de la viande et légumes croquants!
        </p>
        <div class="d-flex justify-content-between">
          <a href="#" class="d-block myLink-a position-absolute bottom--start"
            >See more</a
          >
          <span
            class="card-text mt-1 fw-bold badge text-bg-danger position-absolute bottom--end"
            >35% Off!</span
          >
        </div>
      </div>
    </section>
    <section class="card position-relative">
      <p class="cardTitle">PC & Laptop</p>
      <img class="cardImage" src="./../../assets/PC.jpg" alt="computer image" />
      <div class="">
        <p class="card-text mt-1 mb-4">Un ordinateur performant</p>
        <div class="d-flex justify-content-between">
          <a href="#" class="d-block myLink-a position-absolute bottom--start"
            >See more</a
          >
          <span
            class="card-text mt-1 fw-bold badge text-bg-danger position-absolute bottom--end"
            >15% Off!</span
          >
        </div>
      </div>
    </section>
    <section class="card position-relative">
      <p class="cardTitle">Cuisine</p>
      <img
        class="cardImage"
        src="./../../assets/cuisine 2 edited.jpg"
        alt="cuisine image"
      />
      <div class="">
        <p class="card-text mt-1 mb-4">
          Une cuisine moderne et fonctionnelle, équipée d'appareils pour
          faciliter la préparation des repas.
        </p>
        <div class="d-flex justify-content-between">
          <a href="#" class="d-block myLink-a position-absolute bottom--start"
            >See more</a
          >
          <span
            class="card-text mt-1 fw-bold badge text-bg-danger position-absolute bottom--end"
            >20% Off!</span
          >
        </div>
      </div>
    </section>
    <section class="card position-relative">
      <p class="cardTitle">Health care & Beauty</p>
      <img
        class="cardImage"
        src="./../../assets/health-care.jpg"
        alt="Health care & Beauty image"
      />
      <div class="">
        <p class="card-text mt-1 mb-4">
          un ensemble de services médicaux, préventifs et curatifs
        </p>
        <div class="d-flex justify-content-between">
          <a href="#" class="d-block myLink-a position-absolute bottom--start"
            >See more</a
          >
          <span
            class="card-text mt-1 fw-bold badge text-bg-danger position-absolute bottom--end"
            >10% Off!</span
          >
        </div>
      </div>
    </section>
    <!-- <section class="card position-relative">
      <p class="cardTitle">Books</p>
      <img
        class="cardImage"
        src="./../../assets/Books edited.jpg"
        alt="Books image"
      />
      <div class="">
        <p class="card-text mt-1 mb-4">
          Des livres qui sont des trésors de connaissances, d'évasion et
          d'inspiration
        </p>
        <div class="d-flex justify-content-between">
          <a href="#" class="d-block myLink-a position-absolute bottom--start"
            >See more</a
          >
          <span
            class="card-text mt-1 fw-bold badge text-bg-danger position-absolute bottom--end"
            >35% Off!</span
          >
        </div>
      </div>
    </section> -->
    <section class="card position-relative">
      <p class="cardTitle">Jeux enfant</p>
      <img
        class="cardImage"
        src="./../../assets/jeux enfants edited.jpg"
        alt="Books image"
      />
      <div class="">
        <p class="card-text mt-1 mb-4">
          Des jeux enfants qui sont des trésors de connaissances, d'évasion et
          d'inspiration
        </p>
        <div class="d-flex justify-content-between">
          <a href="#" class="d-block myLink-a position-absolute bottom--start"
            >See more</a
          >
          <span
            class="card-text mt-1 fw-bold badge text-bg-danger position-absolute bottom--end"
            >35% Off!</span
          >
        </div>
      </div>
    </section>
    <section class="card position-relative">
      <p class="cardTitle">Gaming</p>
      <img
        class="cardImage"
        src="./../../assets/Gaming edited.jpg"
        alt="Gaming image"
      />
      <div class="">
        <p class="card-text mt-1 mb-4">
          Matériel éléctroniques des jeux pour vivre des expériences ludiques et
          stimulantes.
        </p>
        <div class="d-flex justify-content-between">
          <a href="#" class="d-block myLink-a position-absolute bottom--start"
            >See more</a
          >
          <span
            class="card-text mt-1 fw-bold badge text-bg-danger position-absolute bottom--end"
            >15% Off!</span
          >
        </div>
      </div>
    </section>
    <section class="card position-relative">
      <p class="cardTitle">Vêtement Femme / Enfant</p>
      <img
        class="cardImage"
        src="./../../assets/vêtement femme edited.jpg"
        alt="vêtement femme image"
      />
      <div class="">
        <p class="card-text mt-1 mb-4">
          Vêtements offrant confort, élégance et adaptabilité pour toutes les
          occasions.
        </p>
        <div class="d-flex justify-content-between">
          <a href="#" class="d-block myLink-a position-absolute bottom--start"
            >See more</a
          >
          <span
            class="card-text mt-1 fw-bold badge text-bg-danger position-absolute bottom--end"
            >20% Off!</span
          >
        </div>
      </div>
    </section>
    <section class="card position-relative">
      <p class="cardTitle">Fournitures Scolaires</p>
      <img
        class="cardImage"
        src="./../../assets/fournitures scolaire 2.jpg"
        alt="Fournitures Scolaires image"
      />
      <div class="">
        <p class="card-text mt-1 mb-4">
          Outils essentiels tels que des cahiers, des stylos, des crayons ...
        </p>
        <div class="d-flex justify-content-between">
          <a href="#" class="d-block myLink-a position-absolute bottom--start"
            >See more</a
          >
          <span
            class="card-text mt-1 fw-bold badge text-bg-danger position-absolute bottom--end"
            >10% Off!</span
          >
        </div>
      </div>
    </section>
  </section>
</section>
<app-best-selling-products></app-best-selling-products>
<section style="margin-bottom: 300px"></section>
